html {
    height: 100vh; 
    width: 100vw;
    overflow: hidden; 
    font-size: 10px;  
}

#app-container {
    display: grid;
    grid-template-columns: 100vw 100vw 100vw;
    grid-template-rows: 100vh;
    gap: 50vw;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-left: 200vw;
    

}

#intro-screen {
    display: flex;
    position: absolute;
    width: 100vw;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 15vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    

}




#intro-title {
    font-size: .2rem;
    // height: auto;
    // width: 5vw;
}

#enter-btn {
    height: 5%;
    min-width: 11%;
    max-width: 14%;
}

 

#player-select-form {
    display: grid;
    
    width: 100vw;
    grid-template-areas: "one submit two";
    grid-template-rows: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    
}

#player-one-container {
    display: grid;
    grid-area: one;
    width: auto;
    
    

}



#player-two-container {
    display: grid;
    grid-area: two;
}

#start-game-container {
    display: grid;
    grid-area: submit;
    margin-top: 75vh;
    height: 7vh;
    width: 10vw;
    
}

#start-btn {
   
}

.player-select {
    display: grid;
    grid-template-rows: 25vh 15vh 15vh 15vh;
    grid-template-columns: 15vw 15vw;
    align-items: center;
    
    
}

.player-icon {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1  / span 2;
}

.player-select > label {
    margin-left: -7vw;
    margin-bottom: -3%;
    font-size: 2rem;
}

.player-select > img {
    max-height: 30vh;
    min-height: 20vh;
    width: auto;
    justify-self: left;
    margin-top: -50%;
    border: 3px solid black;
    border-radius: 3px;

}

.player-name {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 7vh;
    font-size: 2.5rem;
}





#gameboard-container {
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3,150px);
    margin-top: 1000px;
}

#game-container {
    display: flex;
    justify-content: center;
    
}

.board-space {
    height: 150px;
    width: 150px;
    background: white;
    border: solid black 3px;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}