@media (max-width: 600px) {
  #player-two-container > .player-select {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 5vh 20vh 10vh 5vh;
        grid-template-rows: 5vh 20vh 10vh 5vh;
    grid-row-gap: 5vh;
    margin-top: -10vh;
  }
  #player-one-container > .player-select {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 5vh 10vh 10vh 5vh;
        grid-template-rows: 5vh 10vh 10vh 5vh;
    grid-row-gap: 5vh;
  }
  .player-select > img {
    width: 180px;
  }
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 10px;
}

css-doodle {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#app-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw 100vw 100vw;
      grid-template-columns: 100vw 100vw 100vw;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  gap: 50vw;
  height: 100vh;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 200vw;
}

#intro-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.g-h1 {
  font-size: .2rem;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Exo 2', sans-serif;
}

.g-btn_label {
  height: 7vh;
  min-width: 15vw;
  max-width: 14%;
  font-size: 2.8rem;
  font-family: 'Kanit', sans-serif;
  color: white;
  border-radius: 2%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background-color: rgba(89, 0, 255, 0.363);
  text-align: center;
}

.g-btn_label:hover {
  background-color: rgba(89, 0, 255, 0.5);
}

.g-btn_container label {
  padding-top: 1.5vh;
}

.g-btn_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.g-btn_container input:checked ~ .g-btn_label {
  background-color: rgba(89, 0, 255, 0.9);
}

#player-select-form {
  display: -ms-grid;
  display: grid;
  z-index: 1;
  width: 100%;
      grid-template-areas: "one submit two";
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  -ms-grid-columns: (33.3%)[3];
      grid-template-columns: repeat(3, 33.3%);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player-one-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

#player-one-container .player-select .p1-x {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

#player-one-container .player-select .p1-o {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
}

#player-two-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: two;
}

#start-game-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: submit;
  margin-top: 75vh;
  height: 7vh;
  width: 10vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-select {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5vh 40vh 10vh 5vh;
      grid-template-rows: 5vh 40vh 10vh 5vh;
  -ms-grid-columns: 15vw 15vw;
      grid-template-columns: 15vw 15vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3vh;
  -webkit-column-gap: .8vw;
          column-gap: .8vw;
}

.player-select > img {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 2;
  grid-row: 2;
  max-width: 380px;
  height: auto;
  opacity: 90%;
  -ms-grid-column-align: left;
      justify-self: left;
  align-self: flex-end;
  border: 3px solid black;
  border-radius: 3px;
  margin-top: -8vh;
}

#player-two-container img {
  -ms-grid-column-align: right;
      justify-self: right;
}

#player-one-name,
#player-two-name {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 3;
  grid-row: 3;
  height: 7vh;
  font-size: 2.8rem;
  width: 25vw;
  background-color: rgba(65, 153, 6, 0.61);
  color: white;
  border: 3px greenyellow solid;
  border-radius: 3px;
}

#player-two-name {
  -ms-grid-column-align: right;
      justify-self: right;
}

#difficulty-selector {
  width: 20vw;
  height: 7vh;
  margin-top: -8vh;
}

#start-btn {
  -ms-grid-column-align: center;
      justify-self: center;
}

.selector-label {
  color: white;
  font-size: 2rem;
  margin-top: -11vh;
  font-family: 'Kanit', sans-serif;
}

#difficulty-selector {
  font-size: 2rem;
  color: white;
  background-color: rgba(65, 153, 6, 0.61);
  color: white;
  border: 3px greenyellow solid;
  border-radius: 3px;
  font-family: 'Exo 2', sans-serif;
}

.player-toggle label {
  padding-top: 1vh;
}

.countdown-timer {
  z-index: 10;
  position: fixed;
  margin-top: 1000px;
  font-size: 5rem;
  color: white;
  font-family: 'Exo 2', sans-serif;
}

#game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}

#restart-btn {
  z-index: 10;
  position: fixed;
  margin-top: 1600px;
  visibility: hidden;
}

#gameboard-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (150px)[3];
      grid-template-rows: repeat(3, 150px);
  -ms-grid-columns: (150px)[3];
      grid-template-columns: repeat(3, 150px);
  margin-top: 1000px;
  z-index: 0;
  visibility: hidden;
}

.board-space {
  height: 150px;
  width: 150px;
  border: solid rgba(0, 0, 0, 0.85) 3px;
  background: rgba(126, 255, 46, 0.85);
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.win-announce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */