html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 10px;
}

#app-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw 100vw 100vw;
      grid-template-columns: 100vw 100vw 100vw;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  gap: 50vw;
  height: 100vh;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 200vw;
}

#intro-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#intro-title {
  font-size: .2rem;
}

#enter-btn {
  height: 5%;
  min-width: 11%;
  max-width: 14%;
}

#player-select-form {
  display: -ms-grid;
  display: grid;
  width: 100vw;
      grid-template-areas: "one submit two";
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player-one-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  width: auto;
}

#player-two-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: two;
}

#start-game-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: submit;
  margin-top: 75vh;
  height: 7vh;
  width: 10vw;
}

.player-select {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15vh 15vh 15vh;
      grid-template-rows: 15vh 15vh 15vh;
  -ms-grid-columns: 15vw 15vw;
      grid-template-columns: 15vw 15vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-select > label {
  margin-left: -7vw;
  margin-bottom: -3%;
  font-size: 2rem;
}

.player-name {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  height: 7vh;
  font-size: 2.5rem;
}

#gameboard-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (150px)[3];
      grid-template-rows: repeat(3, 150px);
  -ms-grid-columns: (150px)[3];
      grid-template-columns: repeat(3, 150px);
  margin-top: 1000px;
}

#game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.board-space {
  height: 150px;
  width: 150px;
  background: white;
  border: solid black 3px;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */